<!DOCTYPE html> 
<html lang=en>
<head> 
	<meta charset=utf-8>
	<title> Home Page </title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
		<div class="container">
				<div class="row">
						<div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
							<div class="card card-signin my-5">
								<div class="card-body">
									<section class="main"> 
										<section class="articles">
											
											<article>
												<h2>¿Cómo se juega?</h2>
												<p>El objetivo del juego es tener más fichas del propio color sobre el tablero al final de la partida.

													Se emplea un tablero de 8 filas por 8 columnas y 64 fichas idénticas, redondas, blancas por una cara y negras por la otra. Juegan dos jugadores, uno lleva las blancas y el otro las negras. De inicio se colocan cuatro fichas como en el diagrama, dos fichas blancas en D4 y E5, y dos negras en E4 y D5.
													</p>
													<div>
														<img class="img-thumbnail" src="https://sites.google.com/site/asothello/_/rsrc/1255883616155/como-jugar/Reglas1.jpg" alt="sites.google.com">
													</div>
											</article>

											<article>
												<p>Comienzan a mover las negras. Un movimiento consiste en colocar una ficha propia sobre el tablero de forma que 'flanquee' una o varias fichas contrarias. Las fichas flanqueadas son volteadas para mostrar el color propio.
														<div>
																<img class="img2" src="https://sites.google.com/site/asothello/_/rsrc/1255884205301/como-jugar/Reglas2.jpg" alt="sites.google.com">
															</div>
											</article>

											<article>
												
												<p>Es obligatorio voltear todas las fichas flanqueadas entre la ficha que se coloca y las que ya estaban colocadas.

														Una vez volteadas las fichas el turno pasa al contrario que procede de la misma forma con sus fichas. Si un jugador no tiene ninguna posibilidad de mover, el turno pasa al contrario.
														
														La partida termina cuando ninguno de los dos jugadores puede mover. Normalmente cuando el tablero está lleno o prácticamente lleno.
														
														Gana el jugador que acaba con más fichas propias sobre el tablero. Es posible el empate.</p>

											</article>

										</section>
										
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer>
						<i id="ang" class="fab fa-angular">&nbsp; &nbsp;Vinicio - Keslerth - Fabian</i>

					</footer>

</body>
</html>