<div class="row">
  <div class="col-sm-10 col-md-6 col-lg-8 mx-auto">
    <table class="tablero">
        <tr *ngFor="let fila of matriz; let i = index">
                <td *ngFor="let casilla of fila; let j = index">
                  <div [style.background]="(i+j)%2 == 0 ? j1_color : j2_color" class="d-flex justify-content-center">
                    
                    <a *ngIf="casilla == 0"  href="/move/{{ i }}/{{ j }}/" class="color{{ casilla }}{{ jugador }} w-100"></a>
  
                    <a *ngIf="casilla != 0" href="/move/{{ i }}/{{ j }}/" [style.background]="casilla == 1 ? j1_color : j2_color" class="color{{ casilla }} w-100"></a>
                  
                  </div>
                </td>
        </tr>
    </table>
  </div>
  <div class="col-sm-2 col-md-6 col-lg-4 mx-auto">
    <p>Hola que hace xD
    </p>
  </div>
</div>