
  .card-signin .card-title {
    margin-bottom: 5rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .div-signin{
    margin-top: 5rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .far{
    color: #228B22;
    font-size: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
  }
  
  